body {
    font-family: $font;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-weight: 500;
    font-size: $titleFont;
    color: $titleColor;
    padding-top: $spacing * 3;
    line-height: 32px;
}

p {
    font-weight: 400;
    font-size: $pFont;
    color: $pColor;
    padding-top: $spacing;
    line-height: 32px;
}
