$headerColor: #5f6368;
$font: 'Open Sans', sans-serif;
$fontHeader: 'Roboto', sans-serif;
$spacing: 20px;
$titleColor: #3c4043;
$titleFont: 24px;
$pColor: rgba(0,0,0,0.87);
$pFont: 14px;
$backgroundColor: #f5f5f5;
$footerColor: rgba(61,61,61,.8);
$footerFont: 11px;
$activeColor: #3367d6;
